<div class="login-container">
  <!-- LADO IZQUIERDO -->
  <div class="login-left">
    <div class="logo-titulo-container">
      <img src="assets/img/logoppp.jpg" alt="Logo PPP" class="logo-left" />
      <div class="titulo-container">
        <h2 class="titulo-principal">Prácticas</h2>
        <h2 class="titulo-sub">Preprofesionales</h2>
        <div class="subrayado"></div>
      </div>
    </div>
    <p class="subtexto">Bienvenido al Sistema de Prácticas</p>
    <p class="descripcion">
      Automatizamos tu camino hacia la experiencia profesional.
    </p>
  </div>

  <!-- LADO DERECHO -->
  <div class="login-right">
    <div class="login-card">
      <img src="assets/img/logoupeu.png" alt="Logo UPeU" class="logo-up" />
      <p class="identificacion-texto">Por favor, identifíquese</p>

      <form (ngSubmit)="onLogin()">
        <!-- Usuario -->
        <div class="input-group">
          <i class="fas fa-user icono"></i>
          <input
            type="text"
            placeholder="Usuario*"
            [(ngModel)]="user.username"
            name="username"
            required
          />
        </div>

        <!-- Contraseña -->
        <div class="input-group">
          <i class="fas fa-lock icono"></i>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Contraseña*"
            [(ngModel)]="user.password"
            name="password"
            required
          />
          <i
            class="toggle-password fas"
            [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="hidePassword = !hidePassword"
          ></i>
        </div>

        <button type="submit" [disabled]="!user.username || !user.password">
          Iniciar sesión
        </button>
        <p class="error" *ngIf="error">{{ error }}</p>
      </form>
    </div>
  </div>
</div>
