<div class="estudiante-container">
  <!-- HEADER SUPERIOR -->
  <header class="topbar">
    <div class="left-links">
  <span class="toggle-button" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </span>

      <img src="assets/img/cordero.png" alt="Logo Cordero" class="logo-cordero" />
      <img src="assets/img/lamb.png" alt="Logo LAMB" class="logo-lamb" />
    </div>

    <div class="right-section">
      <div class="header-actions">
        <a href="https://www.youtube.com/watch?v=QHQ46b9UUqg" target="_blank">
          <i class="fas fa-book-open"></i> Guía
        </a>
        <a href="https://www.canva.com/design/DAGrPkLDcLg/ibPXepM9yWlYdMHGDQjZag/edit?utm_content=DAGrPkLDcLg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank" rel="noopener">
          <i class="fas fa-life-ring"></i> Ayuda
        </a>
      </div>

      <!-- INFO ESTUDIANTE -->
      <div class="user-info">
        <img [src]="estudianteFoto" alt="Foto" class="user-img" />
        <div class="text-info">
          <span>{{ estudianteNombre }}</span>
          <small class="codigo-universitario">Código: {{ estudianteCodigo }}</small>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTENIDO -->
  <div class="body-content">
    <!-- SIDEBAR -->
    <aside class="sidebar" [class.hidden]="!sidebarVisible">
      <ul class="menu-principal">
        <li><a routerLink="inicio" routerLinkActive="active"><i class="fas fa-user"></i> Inicio</a></li>
        <li><a routerLink="ofertas" routerLinkActive="active"><i class="fas fa-clipboard-list"></i> Ofertas</a></li>
        <li><a routerLink="postulaciones" routerLinkActive="active"><i class="fas fa-paper-plane"></i> Postulaciones</a></li>
        <li><a routerLink="practicas" routerLinkActive="active"><i class="fas fa-folder-open"></i> Prácticas</a></li>
        <li><a routerLink="cv" routerLinkActive="active"><i class="fas fa-file-alt"></i> Subir CV</a></li>
      </ul>

      <!-- BOTONES INFERIORES -->
      <div class="menu-secundario-botones">
        <button class="boton-secundario" routerLink="cambiar-clave">
          <i class="fas fa-key"></i> Cambiar clave
        </button>
        <button class="boton-secundario" (click)="cerrarSesion()">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </button>
      </div>
    </aside>

    <!-- ÁREA DE CONTENIDO -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
