.form-card {
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-estudiante {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.2rem;
}

.input-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
.file-upload-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.file-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Segoe UI', sans-serif;
}

.file-name {
  font-style: italic;
  color: #333;
  font-size: 0.95rem;
}
