
<mat-card class="selector-card">
  <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Selecciona tipo de usuario</mat-label>
      <mat-select [(ngModel)]="tipoSeleccionado" name="tipoSeleccionado">
        <mat-option value="ESTUDIANTE">
          <i class="fas fa-user-graduate"></i> Estudiante
        </mat-option>
        <mat-option value="ADMIN">
          <i class="fas fa-user-tie"></i> Secretaría
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<div [@slideToggle]="tipoSeleccionado" class="form-container">
  <app-form-estudiante *ngIf="tipoSeleccionado === 'ESTUDIANTE'"></app-form-estudiante>
  <app-form-admin *ngIf="tipoSeleccionado === 'ADMIN'"></app-form-admin>
</div>
