<div class="admin-container">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="empresas" routerLinkActive="active">🏢 Empresas</a></li>
      <li><a routerLink="ofertas" routerLinkActive="active">📋 Ofertas</a></li>
      <li><a routerLink="buscar-estudiante" routerLinkActive="active">🔍 Buscar Estudiante</a></li>
      <li><a routerLink="crear-usuario" routerLinkActive="active">➕ Crear Usuario</a></li>
      <li><a routerLink="administradores" routerLinkActive="active">👤 Administradores</a></li>
    </ul>
  </aside>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>

