<div class="admin-container">
  <!-- HEADER -->
  <header class="topbar">
    <div class="left-links">
    <span class="toggle-button" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </span>
    </div>

    <div class="right-section">
      <div
        class="user-dropdown-wrapper"
        (mouseenter)="mostrarMenu = true"
        (mouseout)="onMouseOut($event)"
      >
        <!-- Info Usuario -->
        <div class="user-info d-flex align-items-center">
          <img [src]="adminFoto" alt="Foto Admin" class="user-img me-2" />
          <div class="text-info text-white">
            <span>{{ adminNombre }}</span><br />
            <small class="codigo-universitario">Código: {{ adminCodigo }}</small>
          </div>
        </div>

        <!-- Dropdown -->
        <ul class="dropdown-menu custom-dropdown" [ngClass]="{ 'show': mostrarMenu }">
          <li>
            <a class="dropdown-item" routerLink="cambiar-clave" routerLinkActive="active">
              <i class="fas fa-key me-2"></i> Cambiar clave
            </a>
          </li>
          <li>
            <a class="dropdown-item text-danger" href="#" (click)="cerrarSesion()">
              <i class="fas fa-sign-out-alt me-2"></i> Cerrar sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- CONTENIDO -->
  <div class="body-content">
    <!-- SIDEBAR -->
    <aside class="sidebar" [class.hidden]="!sidebarVisible">
      <ul>
        <li><a routerLink="empresas" routerLinkActive="active"><i class="fas fa-building"></i> Empresas</a></li>
        <li><a routerLink="ofertas" routerLinkActive="active"><i class="fas fa-clipboard-list"></i> Ofertas</a></li>
        <li><a routerLink="postulaciones" routerLinkActive="active"><i class="fas fa-paper-plane"></i>Postulaciones</a></li>
        <li><a routerLink="buscar-estudiante" routerLinkActive="active"><i class="fas fa-search"></i> Buscar Estudiante</a></li>
        <li><a routerLink="crear-usuario" routerLinkActive="active"><i class="fas fa-user-plus"></i> Crear Usuario</a></li>
        <li><a routerLink="administradores" routerLinkActive="active"><i class="fas fa-user-shield"></i> Administradores</a></li>

        <li><a routerLink="cambiar-clave" routerLinkActive="active"><i class="fas fa-key"></i> Cambiar clave</a></li>
      </ul>
    </aside>

    <!-- ROUTER -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
