<div *ngFor="let grupo of postulacionesAgrupadas" class="grupo-postulaciones">

  <div class="encabezado-oferta" (click)="grupo.expandido = !grupo.expandido">
    <i class="fas" [ngClass]="grupo.expandido ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
    {{ grupo.tituloOferta }} - {{ grupo.nombreEmpresa }}
  </div>

  <table *ngIf="grupo.expandido" class="tabla-detalle">
    <thead>
    <tr>
      <th>Estudiante</th>
      <th>Estado</th>
      <th>Documento</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let postu of grupo.postulantes">
      <td><i class="fas fa-user"></i> {{ postu.nombreEstudiante || 'Sin nombre' }}</td>
      <td><span class="badge badge-estado">{{ postu.estado }}</span></td>
      <td>
        <ng-container *ngIf="postu.documento?.rutaArchivo; else sinDocumento">
          <button class="btn-doc" (click)="verDocumento(postu.documento)">
            <i class="fas fa-file-pdf"></i> Ver
          </button>
        </ng-container>
        <ng-template #sinDocumento>
          <span class="text-muted">Sin archivo</span>
        </ng-template>
      </td>
      <td>
        <button class="btn-aceptar" (click)="aceptarPostulacion(postu)" title="Aceptar">
          <i class="fas fa-check"></i>
        </button>
        <button class="btn-rechazar" (click)="rechazarConComentario(postu)" title="Rechazar">
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
